@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins';
}
section {
    background-color: rgb(255, 255, 203);
}
section h2 {
    padding: 10px 60px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: .1em;
    border-bottom: 1px solid black;
}
section h2 span {
    font-size: 1.4em;
    font-weight: 400;
}
section h1 {
    padding: 40px 60px;
}
h1 {
    font-weight: 300;
    font-size: 4em;
}
h1 sup {
    font-size: .3em;
}
h1 span {
    font-weight: 700;
}
.image {
    background-size: cover;
    height: 100vh;
    background-position: 50% 40%;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer > div {
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
}
.footer > div:nth-child(2) {
    align-items: center;
    align-content: center;
}
.footer h3 {
    font-size: 3em;
    font-weight: 300;
    text-transform: uppercase;
}
.footer h3 span {
    font-size: 1.3em;
}
.footer p:first-of-type {
    align-self: flex-end;
    position: relative;
    bottom: 15px;
    right: 15px;
}
.footer sup {
    font-family: cursive;
}
.circle {
    background-color: black;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.footer h4 {
    margin: 2px 0 15px;
}